<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head"></head>

<body>

<div th:replace="fragment/header :: menu"></div>

<div class="container">
    <h2>[[${employe.id} ? 'Détail' : 'Création']] du [[${employe.getClassName().toLowerCase()}]] [[${employe.matricule}]]</h2>

    <form id="saveForm" th:action="|/employes/${#strings.toLowerCase(employe.className)}|" method="post" class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <div th:replace="fragments/header :: inputText('Nom','nom',${#strings.toUpperCase(employe.nom)})"></div>
                <div th:replace="fragments/header :: inputText('Prénom','prenom',${employe.prenom})"></div>
                <div th:replace="fragments/header :: inputText('Matricule','matricule',${employe.matricule})"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label class="form-control-label" for="nom">Salaire</label>
                <div class="input-group">
                    <input type="number" value="2404.0" th:value="${employe.salaire}" class="form-control" name="salaire" id="salaire">
                    <div class="input-group-append">
                        <span class="input-group-text">€</span>
                    </div>
                </div>
                <div>
                    <div th:if="${employe.id}">
                        <label class="form-control-label" for="nom">Prime Annuelle</label>
                        <div class="input-group">
                            <span type="text" th:text="${#numbers.formatCurrency(employe.getPrimeAnnuelle())}" class="form-control" id="primeAnnuelle"></span>
                            <div class="input-group-append">
                                <span class="input-group-text">€</span>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="form-control-label" for="nom">Date d'embauche</label>
                <input type="text" value="10/01/2011" th:value="${#temporals.format(employe.dateEmbauche, 'dd/MM/yyyy')}" class="form-control" name="dateEmbauche" id="dateEmbauche">
            </div>
        </div>
        <div class="col-lg-6" th:if="${employe.className.equals('Commercial')}">
            <label class="form-control-label" for="performance">Performance</label>
            <input type="number" value="5" th:value="${employe.performance}" class="form-control" name="performance" id="performance">

            <label class="form-control-label" for="caAnnuel">CA Annuel</label>
            <div class="input-group">
                <input type="number" value="0.0" th:value="${employe.caAnnuel}" class="form-control" name="caAnnuel" id="caAnnuel">
                <div class="input-group-append">
                    <span class="input-group-text">€</span>
                </div>
            </div>
        </div>
        <div class="col-lg-6" th:if="${employe instanceof T(com.ipiecoles.java.java320.model.Manager)} and ${employe.id}">
            <label class="form-control-label" for="performance">Equipe</label>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group" th:each="technicien : ${employe.equipe}">
                        <li class="list-group-item">
                            <!--/*@thymesVar id="technicien" type="com.ipiecoles.java.java320.model.Technicien"*/-->
                            <a th:href="|/employes/${technicien.id}|"><span th:text="${technicien.prenom}">Mélissa</span>
                                <span th:text="${technicien.nom}">Rodriguez</span>
                                <span class="badge badge-primary" th:text="${technicien.matricule}">T00006</span></a>
                            <a th:href="|/managers/${employe.id}/techniciens/${technicien.id}/delete|"
                               class="btn btn-sm btn-danger float-right"><i class="fa fa-remove"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



    </form>


    <div class="row mt-2">
        <div class="col-lg-6">
            <input form="saveForm" class="btn btn-primary" type="submit" value="Enregistrer">
            <a th:if="${employe.id}" th:href="|/employes/${employe.id}/delete|" class="btn btn-danger">Supprimer</a>

        </div>
    </div>
</div>

</body>
</html>